.producto-img{width:100%;aspect-ratio:1/1;object-fit:cover;border-radius:18px}
.card-body{padding:18px}
.nombre{font-size:1.3rem;margin-bottom:8px}
.descripcion{color:#666;margin-bottom:12px}
.precio{font-size:1.5rem;color:#b56b45;font-weight:bold;margin-bottom:15px}
.acciones{display:flex;gap:10px}
.btn.secundario{background:#25D366}

#paginacion{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:40px 0;
    flex-wrap:wrap;
}

#paginacion button{
    padding:10px 16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#f2e5da;
    transition:.3s;
}

#paginacion button:hover{
    background:#b56b45;
    color:#fff;
}

#paginacion button.activo{
    background:#b56b45;
    color:#fff;
}