/* Capa transparente */
.header-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(255,255,255,.15);
}

/* ===========================
   BOTÓN HAMBURGUESA
=========================== */

.menu-toggle{
    display:none;
}

/* COMPUTADOR */
@media (min-width:769px){

    .menu-toggle{
        display:none;
    }

}

/* CELULAR */
@media (max-width:768px){

    .header-banner{
        position:relative;
        min-height:220px;
    }

    .menu-toggle{

        display:block;

        position:fixed;

        top:15px;

        right:15px;

        width:50px;

        height:50px;

        border:none;

        border-radius:10px;

        background:rgba(255,255,255,.9);

        color:#40AD55;

        font-size:30px;

        cursor:pointer;

        z-index:9999;

    }

}